---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Books</h2>
<hr>
<ol>
  <li>
    <strong>Diluka Galappaththige</strong> and Chintha Tellambura (2025),
    “Cell-Free Integrated Sensing and Communication,”
    <i>Foundations and Trends in Communications and Information Theory</i>, Boston-Delft: Now Publishers.
    
    </a>
  </li>

  <li>
    <strong>Diluka Galappaththige</strong> and Chintha Tellambura  (2026),
    “ALM-Based Manifold Optimization for Wireless Beamforming,”
    <i>Springer</i>,  (In preparation; expected 2026)
    <a href="/papers/sample.pdf" target="_blank" style="margin-left:8px;">
      <i class="fas fa-file-pdf"></i>
    </a>
  </li>
</ol>

<h2>Book Chapters</h2>
<hr>
<ol>
  <li>
    Azar Hakimi, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
    “A Roadmap for NF ISAC in 6G: A Comprehensive Overview and Tutorial,” <i>Advanced New Physical Layer Technologies for Next-Generation Wireless Communications<i>, edited by Lei Liu, Zhijin Qin, Chongwen Huang, Yuhao Chi, and Yang Liu, MDPI, 2025, pp 214-248. 
    <a href="/papers/sample.pdf" target="_blank" style="margin-left:8px;">
      <i class="fas fa-file-pdf"></i>
    </a>
  </li>
</ol>


<h2>Journal Articles</h2>
<hr>

<ol reversed start="32">

<li><strong>Diluka Galappaththige</strong>, Mohammadali Mohammadi, Gayan Amarasuriya, and Chintha Tellambura,
“Cell-Free Integrated Sensing and Communication: Principles, Advances, and Future Directions,”
<i>Proceedings of the IEEE</i>, 2026.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Chintha Tellambura,
“Wideband NF-ISAC: Subcarrier Allocation for Sensing and Beamforming,”
<i>IEEE Wireless Communications Letters</i>, 2026.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Chintha Tellambura,
“Low-Complexity Beamforming for NF Secure ISAC,”
<i>IEEE Wireless Communications Letters</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Sanjeewa Herath,
“Wideband Cognitive Radio for Joint Communication and Sensing: Optimization of Subcarrier Allocation and Beamforming,”
<i>IEEE Transactions on Cognitive Communications and Networking</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Mohammadali Mohammadi, Hien Quoc Ngo, Michail Matthaiou, and Chintha Tellambura,
“Cell-Free Full-Duplex Communication – An Overview,”
<i>IEEE Transactions on Communications</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Low-Complexity CRB Minimization for ISAC with A Generalized Target Response Matrix,”
<i>IEEE Wireless Communications Letters</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Downlink Beamforming for Cell-Free ISAC: A Fast Complex Oblique Manifold Approach,”
<i>IEEE Transactions on Wireless Communications</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Shayan Zargari, Chintha Tellambura, and Geoffrey Ye Li,
“Low-Complexity Multi-Target Detection in ELAA ISAC,”
<i>IEEE Communications Letters</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Shayan Zargari, and Chintha Tellambura,
“Dual Function of Sensing and Backscatter Communication in Cellular Networks,”
<i>IEEE Internet of Things Magazine</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Shayan Zargari, Chintha Tellambura, and Geoffrey Ye Li,
“Optimization of Rate-Splitting Multiple Access with Integrated Sensing and Backscatter Communication,”
<i>IEEE Transactions on Vehicular Technology</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Transmit Power-Efficient Beamforming Design for Integrated Sensing and Backscatter Communication,”
<i>IEEE Open Journal of the Communications Society</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Vincent Poor,
“A Riemannian Manifold Approach to Constrained Resource Allocation in ISAC,”
<i>IEEE Transactions on Communications</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Azar Hakimi, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“A Roadmap for NF ISAC in 6G: A Comprehensive Overview and Tutorial,”
<i>Entropy</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Amine Maaref,
“Cell-Free Bistatic Backscatter Communication: Channel Estimation, Optimization, and Performance Analysis,”
<i>IEEE Transactions on Communications</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Shayan Zargari, Chintha Tellambura, and Geoffrey Ye Li,
“Near-Field ISAC: Beamforming for Multi-Target Detection,”
<i>IEEE Wireless Communications Letters</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Sanjeewa Herath,
“Optimizing Passive Tag Performance with Reconfigurable Intelligent Surfaces in Bistatic Backscatter Networks,”
<i>IEEE Transactions on Vehicular Technology</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Chintha Tellambura,
“Sum Rate Maximization for RSMA-Assisted CF mMIMO Networks with SWIPT Users,”
<i>IEEE Wireless Communications Letters</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Amine Maaref,
“Information and Energy Beamforming Optimization for Symbiotic AmBC and SWIPT Networks,”
<i>IEEE Wireless Communications Letters</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Sensing and Backscatter Communication Integration: Realizing Efficiency in Wireless Systems for IoT,”
<i>Early Access Articles</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Sanjeewa Herath,
“NOMA-Assisted Symbiotic Backscatter: Novel Beamforming Designs Under Imperfect SIC,”
<i>IEEE Transactions on Vehicular Technology</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Amine Maaref,
“Time-Spread Pilot-Based Channel Estimation for Backscatter Networks,”
<i>IEEE Transactions on Communications</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Amine Maaref,
“Multi-Tag Localization in Cooperative AmBC,”
<i>IEEE Communications Letters</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Mohammadali Mohammadi, Zahra Mobini, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“A Comprehensive Survey on Full-Duplex Communication: Current Solutions, Future Trends, and Open Issues,”
<i>IEEE Communications Surveys & Tutorials</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Sanjeewa Herath,
“Beamforming Designs for Enabling Symbiotic BackCom Multiple Access Under Imperfect CSI,”
<i>IEEE Access</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Amine Maaref,
“Integrated Sensing and Backscatter Communication,”
<i>IEEE Wireless Communications Letters</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Sanjeewa Herath,
“Coding Techniques for Backscatter Communications – A Contemporary Survey,”
<i>IEEE Communications Surveys & Tutorials</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Sanjeewa Herath,
“Link Budget Analysis for Backscatter-Based Passive IoT,”
<i>IEEE Access</i>, 2022.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Sanjeewa Herath,
“RIS-Empowered Ambient Backscatter Communication Systems,”
<i>IEEE Wireless Communications Letters</i>, 2022.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Gayan Amarasuriya,
“Exploiting Distributed IRSs for Enabling SWIPT,”
<i>IEEE Wireless Communications Letters</i>, 2022.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Dhanushka Kudathanthirige, and Gayan Amarasuriya,
“Performance Analysis of Distributed Intelligent Reflective Surfaces for Wireless Communications,”
<i>Early Access Articles</i>, 2021.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Gayan Amarasuriya,
“Exploiting Underlay Spectrum-Sharing in Cell-Free Massive MIMO Systems,”
<i>IEEE Transactions on Communications</i>, 2021.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Rajan Shrestha, and Gayan Amarasuriya,
“Exploiting Cell-Free Massive MIMO for Enabling Simultaneous Wireless Information and Power Transfer,”
<i>IEEE Transactions on Green Communications and Networking</i>, 2021.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

</ol>


      

<h2>Conference Proceedings</h2>
<hr>

<ol reversed start="15">

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Adaptive Neural Gradient Descent Method for Dual Objective Optimization in ISAC Systems,”
<i>IEEE Consumer Communications & Networking Conference (CCNC)</i>, 2026.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Mohammadali Mohammadi, and Chintha Tellambura,
“Concurrent, Scheduled, or Hybrid Transmission Protocol for ISAC,”
<i>IEEE International Conference on Communications (ICC)</i>, 2025.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Shayan Zargari, <strong>Diluka Galappaththige</strong>, and Chintha Tellambura,
“Joint Design of Beamforming and Reflection Coefficients in Integrated Sensing and Backscatter Communication Systems,”
<i>18th Canadian Workshop on Information Theory (CWIT)</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, and Chintha Tellambura,
“Distributed RF-Emitter Power Allocation for BiBC,”
<i>IEEE International Conference on Communications (ICC)</i>, 2024.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Fatemeh Rezaei, Chintha Tellambura, and Amine Maaref,
“Ambient IoT: Transmit Power Minimization for NOMA-Enabled BackCom,”
<i>IEEE International Symposium on Personal, Indoor and Mobile Radio Communications (PIMRC)</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Fatemeh Rezaei, <strong>Diluka Galappaththige</strong>, Chintha Tellambura, and Amine Maaref,
“Beamforming Design for NOMA-Assisted Symbiotic Backscatter,”
<i>IEEE International Symposium on Personal, Indoor and Mobile Radio Communications (PIMRC)</i>, 2023.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Dhanushka Kudathanthirige, Gayan Amarasuriya, and Chintha Tellambura,
“Weighted Sum-Rate Maximization for Distributed RIS-Assisted Cell-Free Massive MIMO,”
<i>IEEE Conference on Standards for Communications and Networking (CSCN)</i>, 2022.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Dhanushka Kudathanthirige, and Gayan Amarasuriya,
“Performance Analysis of IRS-Assisted Cell-Free Communication,”
<i>IEEE Global Communications Conference (GLOBECOM)</i>, 2021.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Alan Devkota, and Gayan Amarasuriya,
“On the Performance of IRS-Assisted Relay Network,”
<i>IEEE Global Communications Conference (GLOBECOM)</i>, 2021.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong>, Dhanushka Kudathanthirige, and Gayan Amarasuriya,
“Performance Analysis of Distributed Intelligent Reflective Surface Aided Communications,”
<i>IEEE Global Communications Conference (GLOBECOM)</i>, 2020.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Gayan Amarasuriya,
“NOMA-Aided Cell-Free Massive MIMO with Underlay Spectrum-Sharing,”
<i>IEEE International Conference on Communications (ICC)</i>, 2020.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Gayan Amarasuriya,
“Active Pilot Contamination Attack Detection in Sub-6 GHz Massive MIMO NOMA System,”
<i>IEEE Global Communications Conference (GLOBECOM)</i>, 2019.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li><strong>Diluka Galappaththige</strong> and Gayan Amarasuriya,
“Cell-Free Massive MIMO with Underlay Spectrum-Sharing,”
<i>IEEE International Conference on Communications (ICC)</i>, 2018.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Akram Shafie, <strong>Diluka Galappaththige</strong>, Promod Munaweera, Roshan Godaliyadda, and Parakrama Ekanayake,
“Camera-Based Visible Light Communication System for Underwater Applications,”
<i>IEEE International Conference on Industrial and Information Systems (ICIIS)</i>, 2017.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

<li>Promod Munaweera, Akram Shafie, <strong>Diluka Galappaththige</strong>, Roshan Godaliyadda, and Parakrama Ekanayake,
“Design and Analysis of an Underwater Visible Light MIMO Communication System with a Camera Receiver,”
<i>International Conference on Advances in ICT for Emerging Regions (ICTer)</i>, 2017.
<a href="/papers/sample.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></li>

</ol>




