---
layout: archive
title: "Current Research"
permalink: /research/
author_profile: true
---

{% assign ialmo = site.research | where: "path", "_research/ialmo.html" | first %}
{% assign isabc_overview = site.research | where: "path", "_research/isabc_overview.html" | first %}

{% if ialmo %}
  <article style="margin-bottom: 3rem;">
    {{ ialmo.content }}
  </article>
{% endif %}

{% if isabc_overview %}
  <article style="margin-bottom: 3rem;">
    {{ isabc_overview.content }}
  </article>
{% endif %}
